
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

ul.list {
    line-height: normal;
    margin: 0;
    padding: 0;
}

.mm-slideout {
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
}
.mm-page {
    position: relative;
}
.mm-menu.mm-effect-menu-zoom, .mm-slideout {
    -webkit-transition: -webkit-transform .4s ease;
}